.container {
    padding-bottom: 300px;
}

.about-me-section {
    height: 75px;
    width: 785px;
    margin-bottom: 300px;
    padding-bottom: 300px;
}

.about-me-section .title {
    font-size: 32px;
}

.about-me-section .subtitle {
    font-size: 18px;
}

.about-me-section .working-experience {
    height: 75px;
    width: 785px;
    margin: 15px auto;
    border-bottom: 2px solid #EBEAED;
    padding-bottom: 20px;
}

.about-me-section .position {
    font-size: 20px;
    font-weight: 400;
    color: #666666;
}

.employment-type {
    font-size: 9px;
    font-weight: 600;
    color: #018C0F;
    background: #D7FFE0;
    min-width: 100px;
    height: 25px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

.about-me-section .company,
.about-me-section .duration {
    display: flex;
    align-items: center;
    height: 17px;
    font-size: 12px;
    color: #A7A7A7;
}

.about-me-section .company {
    font-weight: 300;
}

.about-me-section .duration {
    font-weight: 500;
    text-align: right;
}

.row {
    display: flex;
    justify-content: space-between;
}

.right {
    display: flex;
    flex-direction: row-reverse;
}

.about-me-title {
    margin-top: 120px;
    margin-bottom: 35px;
}

.work-experience-title {
    margin-top: 90px;
    margin-bottom: 35px;
}

.education-title {
    margin-top: 35px;
    margin-bottom: 35px;
}

.education {
    height: 75px;
    width: 785px;
    margin: 15px auto;
    border-bottom: 2px solid #EBEAED;
}
