.tech-stack-section .inner {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 80px;
    row-gap: 50px;
}

.tech-stack-title {
    margin-top: 120px;
    margin-bottom: 15px;
}

.tech-stack-subtitle {
    margin-top: 15px;
    margin-bottom: 150px;
}